PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://127.0.0.1:27017/fams_enterprise?replicaSet=rs0
MONGO_URI_FALLBACK=mongodb://127.0.0.1:27017/fams_enterprise
JWT_SECRET=fams-enterprise-jwt-super-secret-key-2026
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_ENABLED=false
UPLOAD_DIR=./uploads
AI_PROVIDER=mock
AI_API_KEY=mock-key-2026
